<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login </title>
</head>
<body>
	<div class="text-center container" style="width:60%;">
                <form method="POST" action="/login" class="form-inline">
                    <div class="form-group">
                        <label for="userName">User name:</label>
                        <input id="userName" type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input id="password" type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-info btn-md">LOG IN</button>
                </form>
                Don't have an account? <a href="/signup.html">SIGN UP</a> 
            </div>
</body>
</html>