.button1 {
    background-color: #33C3F0; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}
.button1:hover {

  background: #00FF00;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}











#jumbo {
	background-image: url(../img/pokedex-header.png);
	background-size: cover;
    background-position: center; 
    height: 200px;
}



#cardsBoard {
	display: block;
	background-color: #fcf7f4;
}	

.cartaPokemon {
	width: 175px;
	display: inline-grid;
	padding: 0.5em;
	border: 0.5em solid #FBC002;
	border-radius: 110px;
	background-color: #9CE99E;
	text-align: center;
	margin-bottom: 1em;
	margin-right: 1em;
}

.loadAnimation {
	width: 100px;
	display: inline-grid;
	background-color: #fcf7f4;
}

.tittle
{
  z-index: +1;
}

.hide {
	display: none;
}




.socialMediaBar {
  height: 56px;
  width: 100%;
  background-color: red;
}

.socialMedia {
  padding-top: 8px;
  padding-left: 15px;
  height: 40px;
  width: 40px;
}

.socialMedia--Facebook {
  margin-left: 36%;
}

.socialMedia--Facebook: {
  content:url('SocialMedia/facebook.png');
}

.socialMedia--Instagram: {
  content:url('SocialMedia/instagram.png');
}

.socialMedia--Pinterest: {
  content:url('SocialMedia/pinterest.png');
}

.socialMedia--Google: {
  content:url('SocialMedia/google.png');
}

.socialMedia--Linkedin: {
  content:url('SocialMedia/linkedin.png');
}

.socialMedia--Twitter: {
  content:url('SocialMedia/twitter.png');
}
